p{

font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: azure;
}
h1 {
    color: aliceblue;
}

html{
    background: #D0E4F5 url("https://media.giphy.com/media/l3vRnoppYtfEbemBO/giphy.gif") repeat scroll 50% 50%;
  
}